<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <h4>Cart Number: </h4>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= link_to 'Show', cart , class:"btn btn-xs btn-default" %>
        <%= link_to 'Edit', edit_cart_path(cart) , class:"btn btn-xs btn-default" %>
        <%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Cart', new_cart_path , class:"btn btn-sm btn-info" %>
