<p class="alert alert-info" id="notice"><%= notice %></p>

<div class="panel panel-default">

<div class="panel-heading">Shopping Cart <%= @cart.id %> Contents</div>

<div class="panel-body">
<ul>
	  <% @cart.line_items.each do |item| %>
	   <li><%= item.quantity %> &times; <%= item.product.title %></li>
	  <% end %>
	</ul>

</div>

<div class="panel-footer">

<%= link_to 'Edit', edit_cart_path(@cart) ,class:"btn btn-xs btn-danger" %> |
<%= link_to 'Back', carts_path , class:"btn btn-xs btn-danger" %>

</div></div>
